#safe1,#safe2,#safe3,#safe4{
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
}
#color{
    color: black;
}
#size{
    font-family: Garamond, serif;
  text-align: center;
    font-size: 70px;
}
#center{
    text-align: center;
}
#p1{
    text-align: start;
   
}
#here{
    color: red;
}